.nome {
    font-weight: bold;
    background: linear-gradient(rgb(20, 20, 20), #fff, rgb(20, 20, 20));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.styleHR {
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #3f51b5, rgba(0, 0, 0, 0));
    height: 1px;
}

#whatsapp,
#facebook,
#github,
#linkedin,
#codepen {
    width: 35px;
    height: 35px;
    padding: 3px;
    color: white;
    margin-top: 5px;
    border-radius: 20%;
}

#whatsapp:hover {
    background-color: green;
}

#facebook:hover {
    background-color: #3B5998;
}

#linkedin:hover {
    background-color: darkblue;
}

#github:hover {
    background-color: white;
    color: black;
}

#codepen:hover {
    background-color: black;
}

.closeModal:hover{
    cursor: pointer;
    color: black;
    opacity: 1;
}

